/** Polipop **/

.polipop {
  z-index: 1020 !important;
}

/* Backend */

.msm-separator {
  color: #555;
  margin: 10px 0 0;
  padding: 0;
  float: left;
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
}

.msm-separator h3 {
  margin: 0;
  padding: 10px;
  background: none repeat scroll 0 0 #e8f3f9;
}

.msm-separator h3 small {
  font-weight: bold;
}

fieldset.msm-admin .control-label .msm-spacer {
  display: block;
  color: #555;
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
}

fieldset.msm-admin .control-label .msm-spacer,
fieldset.msm-admin .control-label .msm-spacer label {
  width: 100%;
  display: block;
}

fieldset.msm-admin .control-label .msm-spacer h3,
fieldset.msm-admin .control-label .msm-spacer h4 {
  margin: 0;
  padding: 10px;
  background: none repeat scroll 0 0 #e8f3f9;
  font-weight: bold;
}

fieldset.msm-admin .control-label .msm-spacer h3 {
  font-size: 1.25rem;
}

fieldset.msm-admin .control-label .msm-spacer h3 small {
  font-weight: bold;
}

fieldset.msm-admin .control-label .msm-spacer h4 {
  font-size: 1.05rem;
}

fieldset.msm-admin div[class^="column-count-"] {
  column-count: 1;
}

fieldset.msm-admin .alert.alert-info {
  margin: 0;
}

fieldset.msm-admin .alert h4 {
  margin: 0.5rem 0 1rem;
}

fieldset.msm-admin .alert p {
  margin: 0 0 0.5rem;
}

fieldset.msm-admin .alert a[target="_blank"]::before {
  content: none;
}
