/* Separators */

label[id^="jform_params_separator_"],
label[id^="jform_params_alert_"] {
	display: none;
}

.mmSeparator {
	color: #555;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	font-size: 12px;
	box-sizing: border-box;
}

.mmSeparator h3,
.mmSeparator h4 {
	margin: 0;
	padding: 10px;
	background: none repeat scroll 0 0 #e8f3f9;
	font-weight: bold;
}

.mmSeparator h3 {
	font-size: 1.25rem;
}

.mmSeparator h3 small {
	font-weight: bold;
}

.mmSeparator h4 {
	font-size: 1.05rem;
}

/* Backend */

div[class^="column-count-"]
{
	column-count: 1;
}

.alert h4 {
	margin: 0.5rem 0 1rem;
}

.alert p {
	margin: 0 0 0.5rem;
}

.alert a[target="_blank"]::before {
	content: none;
}

fieldset .alert.alert-info {
	margin: 1rem 0;
} 

.pro-alert.alert.alert-info {
	margin: -1rem 0 1rem;
}
